{{yield}}
<li>
  <div class="row book-row">
    <div class="col-xs-7">
      <p class="room-name-style">{{room.room_name}}<span>4小时</span></p>
    </div>
    <div class="col-xs-2">
      <p class="price">￥{{room.price}}</p>
    </div>
    <div class="booking">
      {{#if room.amount}}
        <button class="btn btn-info">预订</button>
      {{else}}
        <button class="btn btn-info" disabled="disabled">满房</button>
      {{/if}}
    </div>
  </div>
</li>
