// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_name, .contact_phone {
  padding-top: 8px;
}

.contact_name {
  width: 30%
}

.contact_phone {
  width: 50%
}

#contacts_index {
  padding-left: 15px;
  padding-right: 15px;
}