.select-modal-module {
  // 选择弹层
  .modal-link {
    // padding-right: 200%;
    color: #000000;
  }
  .modal-link:hover, .modal-link:focus {
    text-decoration: none;
    color: #000000;
  }
  .item-select-icon{
    width: 8px;
  }
  .modal-header{
    width: 100%;
    border: none;
  }

  .modal-body{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
    label{
      font-size: 18px;
      padding-top: 10px;
    }
    table{
      margin: 10px 0 0 0;
    }

    .modal-body-title {
      .modal-finish {
        color: red;
        position: absolute;
        right: 5%;
      }
    }
    .select-content {
      .select-item {
        min-height: 60px;
        clear: both;
        padding: 0 8%;
        border-bottom: 1px solid #ccc;
        label {
          float: left;
          padding: 8px 0;
        }
        .selected-image {
          float: right;
          padding-top: 8px;
          width: 27px;
          display: none;
        }
      }
      .select-item.selected-item .selected-image{
        display: block;
      }
      .select-item:first-child { border-top: 1px solid #ccc; }
    }
  }

  .modal-footer{
    width: 100%;
    height: 14%;
    position: fixed;
    bottom: 0;
    background-color: red;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
}